body {
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}

p {
    margin: 0 0 10px 0;
}   

.container {
    margin-top: 90px;
}

.gioi-thieu {
    font-size: 24px;
    margin: 10px 0;
}

.tieu-de {
    text-align: justify;
    font-weight: bold;
    font-size: 14px;
}

.noi-dung {
    text-align: justify;
    font-size: 14px;
}