body {
    background-color: #ECEFF3;
}

.admin-header {
    height: 87px;
    line-height: 87px;
}
.admin-header-wrap {
    display: flex;
    justify-content: space-between;
}

.admin-header-left h2 {
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.admin-header-left span {
    font-size: 28px;
    color: #868AA5;
}

.admin-header-right_add-new-product-btn {
    color: #fff;
    font-size: 28px;
    padding: 8px 23px;
    background-color: #116DFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;
    text-decoration: none;
}

.admin-header-right_add-new-product-btn:hover {
    background-color: #0f4db1;
}

.container {
    background-color: #fff;
}

.container_header {
    border-bottom: solid 1px #ccc;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.container_header label, input {
    display: block;
    margin-right: 4px;
    
}

.container_header_search-bar {
    display: block;
    border-radius: 25px;
    padding: 4px 16px;
    border: solid 1px #116DFF;
    margin-right: 16px;
}

.container_header_search-bar:focus {
    outline: none !important;
    border: solid 1px #116DFF;
}

.container_table {
    margin-top: 24px;
}

.select-product {
    width: 20px;
    height: 20px;
}

.delete-product-btn {
    color: #fff;
    padding: 8px 23px;
    background-color: #116DFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;
}

.delete-product-btn:hover {
    background-color: #0f4db1;
}