.title {
  font-size: 22px;
  font-weight: 550;
}

.information_head {
  font-size: 16px;
}

.map {
  height: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head_left {
  padding-right: 16px;
}

.head_right {
  padding-left: 16px;
}

.module-header {
  margin-top: 40px;
}

.input_head:focus {

  outline: none !important;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #719ECE;

}

.input_head {
  border: 1px solid #eeeeee;
  width: 100%;
}

.button {
  background: #dc3333;
  color: #fff;
  border: none;
  padding: 12px;
}

.button:hover {

  background: #333;
}

.input-feild {
  margin-top: 24px;
}

.input-feild h4 {
  padding: 12px;
  margin-top: 8px;
}

.input-feild input {
  padding: 16px;
}

.input-area {
  margin-top: 24px;
}

.input-area h4 {
  padding: 12px;
  margin-top: 8px;
}

