.slider-wrap {
    margin-top: 32px;
    overflow: hidden;
    margin-bottom: 24px;
}

.slider {
    display: flex;
    width: 200%;
    transition: transform linear 0.5s;
    z-index: -9999;
    position: relative;

}

.slider img {
    width: 100%;
    height: 100%;
    display: block;
    transition: margin 0.3s;
}

.container_content {
    width: 100%;
    display: flex;
}

