/* body {
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.25px;
} */

.main_title {
  padding: 16px 12px;
  border-top: #ea4242 2px solid;
  border-left: #ebebeb 1px solid;
  border-right: #ebebeb 1px solid;
}

.main_title h2 {
  font-size: 14px;
}

.grid-item {
  font-size: 30px;
  width: calc(100% / 3);
  height: 100%;
  border-left: 1px solid #ebebeb;
}

.grid-item:first-child {
  border: none;
}

.products_item_img {
  width: 100%;
  height: 240px;
}


.products_item_price {
  margin-top: 12px;
  /* font-style: oblique; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--menu-color);
  font-size: 16px;
  font-weight: bold;
}

.products_item_price,.products_item_infor {
  padding: 0 16px; 
}

.products_item_wrap a {
  display: block;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.products_item_infor {
  font-size: 14px;
  /* padding: 16px; */
}

.item-row {
  margin-left: 0;
  border: solid 1px #ebebeb;
  width: 100%;
  /* margin-top: 24px; */
}

.container_content-right {
  background-color: #fff;
  height: fit-content;
}