.product_container {
    background: #F5F5F5;
}

.product_container_left-img {
    width: 100%;
    /* height: 100%; */
}

.product_container_mid {
    padding-left: 24px;
    padding-right: 100px;
}

.product_container_mid-infor {
    border-bottom: solid 1px #EBEBEB;
    margin-bottom: 12px;
}

.product_container_mid-infor h2 {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 12px;
}

.product_container_mid-brand-and-type {
    margin-bottom: 12px;
    font-size: 13px;
}

.product_container_mid-brand-and-type span {
    color: var(--menu-color);
    font-weight: bold;
}

.product_container_mid-price {
    color: var(--menu-color);
    font-weight: bold;
    font-size: 24px;
}

.product_container_mid-description {
    border-bottom: solid 1px #EBEBEB;
    margin-bottom: 12px;
}

.product_container_mid-description h4 {
    font-size: 12px;
    margin-bottom: 12px;
}

.product_container_mid-description p {
    color: #707070;
    padding: 4px 0;
    font-size: 13px;
}

.product_container_mid-buy-option {}

.option {
    /* height: 40px; */
    padding: 8px 0;
}

.option-wrap {
    display: flex;
    height: 40px;
}

.option-left {
    line-height: 40px;
    width: 35%;
}

.option-right {
    width: 35%;
}

.option span {
    font-size: 12px;
    margin-right: 24px;
}

.color-option select {
    padding: 0 10px;
    width: 100%;
    display: inline-block;
    height: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
}

.color-option select option {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}

.quantity-option {
    width: 100%;
}

.quantity-option .btn {
    display: inline-block;
    height: 100%;
    border: none;
    background: #fff;
    width: 29%;
    cursor: pointer;
}

.quantity-option input {
    height: 100%;
    text-align: center;
    border: none;
    width: 33.33333%;
}

.add-to-store-btn {
    width: 70%;
    height: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: var(--menu-color);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.product_container_right {
    line-height: 1.7rem;
    height: 100%;
}

.product_container_right-item {
    background-color: white;
    border-bottom: 0.5px solid #EBEBEB;
    font-size: 14px;
    text-align: center;
    color: #333;
    width: 120%;
    padding: 0 16px;
}

.product_container_right-item img {
    width: 30px;
    height: 30px;
}