
.dang_ky_center {
  display: flex;
  justify-content: space-between;
}

.font_size {
  font-size: 18px;
  font-weight: 550;
}

.title {
  font-size: 16px;
  font-weight: 450;
}

.input_size {
  width: 563px;
  height: 39px;
  border: 1px solid #eeeeee;
}

#doi_Chieu {
  transform: rotateY(180deg);
}

.button_size {
  width: 139px;
  height: 39px;
  background: #2a2a2a;
  color: #fff;
  cursor: pointer;
}

.button_size:hover {
  background: #dc3333;
  border: none;
}

.button {
  margin-top: 18px;
}

.input_size:focus {
  outline: none !important;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #719ece;
}

.input-field {
  margin-top: 24px;
}

.input-field input {
  padding: 8px;
}
