.contain .title h1 {
    font-weight: 700;
    text-transform: none;
    line-height: normal;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 24px;
    margin: 10px 0;
}
.contain .post-details span {
    margin-right: 10px;
    font-size: .92857em;
    color: #707070;
}
.contain .post-details {
    margin-bottom: 15px;
}
.contain .write p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 15px;
    color: #333;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.7;
}
.contain .header_img .img{
    width: 100%;
    
}