.item-img {
    width: 50%;
    margin-right: 0px;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    height: auto;
   
}
.blog-item {
    display: block;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.new-item {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
   
}
.grid .new-item:not(:last-child) {
    border-bottom:1px #ebebeb solid;
}
.img {
   display: block;
   width: 100%;
   height: auto;
}
.blog-item .blog-item-name {
    margin-bottom: 20px;
    font-size: 22px;
}
.blog-item .blog-item-name a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    font-weight: 500;
}
span {
    margin-right: 10px;
}
.post-details {
    color: #707070;
    margin-bottom: 20px;
}
.blog-item-text {
    color: #707070;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
}
.view-more .btn{
    background-color: #dc3333;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    display: inline-block;
   
}
.blog-item-name a:hover {
    color: red;
}
.view-more .btn:hover {
    background-color: black;
}
.view-more a {
    text-decoration: none;
    color: white
    
}

.list-news-title h2 {
    font-size: 22px;
    text-transform: uppercase;
}

.list-news-title {
    padding: 16px 0;
}
